<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.tagent.dao.mapper.TagentMapper">

    <select id="searchTagent" resultType="codedriver.framework.tagent.dto.TagentVo">
        SELECT t.`id`,
        t.`ip`,
        t.`port`,
        t.`name`,
        t.`version`,
        t.`os_id` as osId,
        t.`os_type` as osType,
        t.`os_version` as osVersion,
        t.`osbit`,
        t.`credential`,
        t.`runner_id` as runnerId,
        t.`runner_group_id` as runnerGroupId,
        t.`runner_ip` as runnerIp,
        t.`runner_port` as runnerPort,
        t.`user`,
        t.`pcpu`,
        t.`mem`,
        t.`status`,
        t.`fcd`,
        t.`lcd`,
        tos.`name` as osName,
        apg.`name` as runnerGroupName
        FROM (
        SELECT DISTINCT t.*
        FROM tagent t
        LEFT JOIN runner ar ON t.`runner_id` = ar.`id`
        LEFT JOIN runnergroup apg ON t.`runner_group_id` = apg.`id`
        LEFT JOIN `tagent_ip` ti ON t.`id` = ti.`tagent_id`
        <where>
            <if test="osId !=null and osId !='' ">
                AND t.`os_id` = #{osId}
            </if>
            <if test="version !=null and version !='' ">
                AND t.`version` = #{version}
            </if>
            <if test="status !=null and status !='' ">
                AND t.`status` = #{status}
            </if>
            <if test="runnerGroupId !=null and runnerGroupId !='' ">
                AND t.`runner_group_id` = #{runnerGroupId}
            </if>
            <if test="keyword !=null and keyword !='' ">
                AND (t.`ip` LIKE CONCAT('%',#{keyword},'%')
                OR t.`name` LIKE CONCAT('%',#{keyword},'%')
                OR t.`os_version` LIKE CONCAT('%',#{keyword},'%'))
            </if>
        </where>
        ORDER BY t.`id` DESC
        <if test="needPage == true">
            LIMIT #{startNum}, #{pageSize}
        </if>) t LEFT JOIN runner ar ON t.`runner_id` = ar.`id`
        LEFT JOIN runnergroup apg ON t.`runner_group_id` = apg.`id`
        LEFT JOIN `tagent_ip` ti ON t.`id` = ti.`tagent_id`
        LEFT JOIN `tagent_os` tos ON t.`os_id` = tos.`id`
        ORDER BY t.`id` DESC
    </select>

    <select id="searchTagentVersion" resultType="java.lang.String">
        select DISTINCT(`version`)
        from tagent
    </select>

    <select id="searchTagentOSType" resultType="codedriver.framework.tagent.dto.TagentOSVo">
        select `id`   as id,
               `name` as name
        from tagent_os
    </select>

    <select id="searchTagentRunnerGroup" resultType="codedriver.framework.dto.runner.RunnerGroupVo">
        select `id`, `name`
        from runnergroup
    </select>

    <resultMap id="runnerGroupMap" type="codedriver.framework.dto.runner.RunnerGroupVo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <collection property="groupNetworkList" ofType="codedriver.framework.dto.runner.GroupNetworkVo">
            <id column="networkId" property="id"/>
            <result column="groupId" property="groupId"/>
            <result column="networkIp" property="networkIp"/>
            <result column="mask" property="mask"/>
        </collection>
        <collection property="runnerList" ofType="codedriver.framework.dto.runner.RunnerVo">
            <id column="runnerId" property="id"/>
            <result column="runnerName" property="name"/>
            <result column="url" property="url"/>
            <result column="accessKey" property="accessKey"/>
            <result column="accessSecret" property="accessSecret"/>
            <result column="authType" property="authType"/>
            <result column="nettyIp" property="nettyIp"/>
            <result column="nettyPort" property="nettyPort"/>
        </collection>
    </resultMap>

    <select id="searchRunnerGroupInformation" parameterType="java.lang.String" resultMap="runnerGroupMap">
        SELECT
        g.`id` as id,
        g.`name` as name,
        nk.`id` as networkId,
        nk.`group_id` as groupId,
        nk.`network_ip` as networkIp,
        nk.`mask` as mask,
        r.`id` as runnerId,
        r.`name` as runnerName,
        r.`url` as url,
        r.`host` as host,
        r.`port`,
        r.`netty_ip` as nettyIp,
        r.`netty_port` as nettyPort,
        r.`access_key` as accessKey,
        r.`access_secret` as accessSecret,
        r.`auth_type` as authType
        FROM
        (SELECT DISTINCT
        rg.`id`,
        rg.`name`
        FROM
        runnergroup rg
        LEFT JOIN runner r ON rg.`id` = r.`group_id`
        LEFT JOIN runnergroup_network c ON rg.`id` = c.`group_id`
        WHERE 1 = 1
        <if test="keyword != null and keyword != ''">
            AND (
            rg.`name` LIKE CONCAT('%', #{keyword}, '%')
            OR r.`name` LIKE CONCAT('%', #{keyword}, '%')
            OR c.`network_ip` LIKE CONCAT('%', #{keyword}, '%')
            OR r.`url` LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>
        <if test="authType != null and authType != ''">
            AND r.`auth_type` = #{authType}
        </if>
        ORDER BY rg.`id` DESC
        <if test="needPage == true">
            LIMIT #{startNum},#{pageSize}
        </if>
        ) g
        LEFT JOIN runnergroup_network nk ON g.`id` = nk.`group_id`
        LEFT JOIN runner r ON g.`id` = r.`group_id`
        ORDER BY g.`id` DESC, nk.`id` DESC
    </select>

    <select id="searchTagentCount" resultType="int">
        select count(distinct t.`id`)
        from tagent t;
    </select>

    <select id="searchTagentRunnerCount" resultType="int">
        select count(distinct g.id)
        from runnergroup g;
    </select>

    <select id="getTagentById" resultType="codedriver.framework.tagent.dto.TagentVo">
        select t.`ip`,
               t.`port`,
               t.`name`,
               t.`version`,
               t.`os_id`      as osId,
               t.`os_type`    as osType,
               t.`os_version` as osVersion
        from tagent t
        where id = #{value}
    </select>

    <select id="searchRunnerGroupCount" resultType="int">
        select count(1)
        from runnergroup
    </select>

</mapper>

