<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.tagent.dao.mapper.TagentMapper">

    <select id="search" resultType="codedriver.framework.tagent.dto.TagentVo">
        SELECT t.`id`,
               t.`ip`,
               t.`port`,
               t.`name`,
               t.`version`,
               t.`os_id` as osId,
               t.`os_type` as osType,
               t.`os_version` as osVersion,
               t.`osbit`,
               t.`credential`,
               t.`runner_id` as runnerId,
               t.`runner_group_id` as runnerGroupId,
               t.`runner_ip` as runnerIp,
               t.`runner_port` as runnerPort,
               t.`user`,
               t.`pcpu`,
               t.`mem`,
               t.`status`,
               t.`fcd`,
               t.`lcd`,
               tos.name as osName
        FROM `tagent` t
        LEFT JOIN `tagent_os` tos ON t.`os_id` = tos.`id`
        <if test="needPage == true">
            LIMIT #{startNum}, #{pageSize}
        </if>
    </select>
</mapper>

